Repository sandialabs/spack-manager, pull requests merged in 2022-04, with the labels that each got.

#260 cee: add gcc@9.3.0 and mpich
  configs/cee/compilers.yaml
  configs/cee/packages.yaml
Labels: developer-workflow

#262 Add e4s config
  configs/e4s/packages.yaml
  scripts/snapshot_creator.py
  spack-scripting/scripting/cmd/manager_cmds/find_machine.py
Labels: deployment-workflow

#264 Remove massive gold file tolerances from SNL machines
  env-templates/exawind_ascic_tests.yaml
  env-templates/exawind_ascicgpu_tests.yaml
Labels: testing-workflow

#265 Add some SNL site-specific CTest options
  repos/exawind/packages/nalu-wind-nightly/package.py
Labels: testing-workflow

#268 Updates to Sandia nightly testing
  env-templates/exawind_ascic_tests.yaml
  env-templates/exawind_ascicgpu_tests.yaml
  repos/exawind/packages/nalu-wind-nightly/package.py
  repos/exawind/packages/nalu-wind-nightly/snl_ctest.patch
Labels: enhancement, testing-workflow

#270 Change SNL test names so they're distinct on the dashboard
  env-templates/exawind_ascic_tests.yaml
  env-templates/exawind_ascicgpu_tests.yaml
  repos/exawind/packages/nalu-wind-nightly/package.py
Labels: bug, testing-workflow
