Repository sandialabs/spack-manager, pull requests merged in 2022-09, with the labels that each got.

#343 update SNL testing lines
  env-templates/exawind_ascic_tests.yaml
  env-templates/exawind_ascicgpu_tests.yaml
Labels: testing-workflow

#349 Update doc link
  docs/user_profiles/developers/developer_spack_minimum.md
Labels: documentation

#353 add print statement to avoid segfault in openfast
  repos/exawind/packages/openfast/package.py
  repos/exawind/packages/openfast/segfault_message.patch
Labels: testing-workflow

#354 use release build of openfast for SNL nightlies
  env-templates/exawind_ascic_tests.yaml
  env-templates/exawind_ascicgpu_tests.yaml
Labels: testing-workflow

#358 Modify Snapshots to use GitHash versions
  scripts/snapshot_creator.py
  spack-scripting/scripting/cmd/manager_cmds/external.py
  spack-scripting/scripting/manager_utils.py
  spack-scripting/tests/test_external.py
Labels: enhancement, developer-workflow, deployment-workflow

#359 add awk to repo check to reduce fragility
  scripts/spack_start.sh
Labels: enhancement, developer-workflow

#360 in SNL builds, separate trilinos stable vs develop gold file directories
  repos/exawind/packages/nalu-wind/package.py
Labels: enhancement, testing-workflow
