Repository sandialabs/spack-manager, pull requests merged in 2022-02, with the labels that each got.

#128 Add reduced syntax developer work flow commands
  .gitignore
  configs/base/config.yaml
  scripts/create-developer-env.sh
  scripts/snapshot_creator.py
  scripts/test_developer_workflow.py
  scripts/useful_bash_functions.sh
  spack-scripting/scripting/cmd/manager.py
  spack-scripting/scripting/cmd/manager_cmds/create_dev_env.py
  spack-scripting/scripting/cmd/manager_cmds/create_env.py
  spack-scripting/scripting/cmd/manager_cmds/develop.py
  spack-scripting/scripting/cmd/manager_cmds/external.py
  spack-scripting/scripting/cmd/manager_utils.py
  spack-scripting/tests/test_create_dev_env.py
  spack-scripting/tests/test_create_env.py
  spack-scripting/tests/test_external.py
  start.sh
Labels: enhancement, developer-workflow

#132 Make quick-* commands exit with help message when passing -h flags
  scripts/useful_bash_functions.sh
Labels: bug

#131 Add shallow clone option to spack manager develop
  scripts/snapshot_creator.py
  spack-scripting/scripting/cmd/manager_cmds/develop.py
  spack-scripting/tests/test_develop.py
Labels: enhancement, deployment-workflow

#145 Externals default to first view instead of 'default'
  spack-scripting/scripting/cmd/manager_cmds/external.py
Labels: bug, developer-workflow

#146 Fix some bugs with auto external detection
  spack-scripting/scripting/cmd/manager_cmds/external.py
  start.sh
Labels: bug

#168 Make execution match help for create-dev-env
  spack-scripting/scripting/cmd/manager_cmds/create_dev_env.py
  spack-scripting/tests/test_create_dev_env.py
Labels: documentation, developer-workflow

#167 Catch error when users don't give a path for external
  spack-scripting/scripting/cmd/manager_cmds/external.py
Labels: bug

#162 Add first text for snapshot workflow example
  .github/workflows/tests.yml
  docs/developer_tutorial.md
  docs/index.rst
  docs/snapshot_workflow.md
  run_tests.sh
  scripts/create-developer-env.sh
  scripts/create-exawind-snapshot.sh
  scripts/install-exawind.sh
  scripts/run-exawind-nightly-tests.sh
  scripts/run_tests.sh
  scripts/supported_external_paths.py
  scripts/useful_bash_functions.sh
  start.sh
Labels: documentation, developer-workflow, deployment-workflow

#171 Intro to spack-manager documentation
  docs/general/FAQ.md
  docs/general/general.rst
  docs/general/spack_features.md
  docs/index.rst
  docs/user_profiles/developers/developer_tutorial.md
  docs/user_profiles/developers/developers.rst
  docs/user_profiles/developers/snapshot_workflow.md
  docs/user_profiles/system_admins/nightly_testing.md
  docs/user_profiles/system_admins/system_admins.rst
  docs/user_profiles/user_profiles.rst
Labels: documentation

#183 New gcc9 compiler on ascicgpu
  configs/ascicgpu/compilers.yaml
  configs/ascicgpu/packages.yaml
  env-templates/system_externals.yaml
Labels: config-bug

#187 add more documentation
  docs/conf.py
  docs/general/FAQ.md
  docs/user_profiles/analysts/analysts.md
  docs/user_profiles/developers/developer_spack_minimum.md
  docs/user_profiles/developers/developers.rst
  docs/user_profiles/user_profiles.rst
Labels: documentation

#195 Split out spack-start into its own script
  scripts/spack_start.sh
  start.sh
Labels: enhancement, developer-workflow

#194 Fix some typos and outdated usage in the developer tutorial
  docs/user_profiles/developers/developer_tutorial.md
Labels: documentation

#190 Change the doc depth
  docs/conf.py
  docs/index.rst
Labels: documentation

#198 Add some more intro documents
  docs/conf.py
  docs/general/general.rst
  docs/general/history.md
  docs/index.rst
  docs/user_profiles/developers/developers.rst
  docs/user_profiles/developers/useful_commands.md
Labels: documentation

#200 Add more faq answers
  docs/general/FAQ.md
Labels: documentation

#211 add ascicgpu to nightly test script and env templates
  env-templates/exawind_ascicgpu_tests.yaml
  scripts/run-exawind-nightly-tests.sh
Labels: enhancement, testing-workflow

#213 use actual hostnames for SNL machines
  spack-scripting/scripting/cmd/manager_cmds/find_machine.py
Labels: enhancement, testing-workflow

#214 Check for function not variable
  scripts/spack_start.sh
Labels: bug
