Repository sandialabs/spack-manager, pull requests merged in 2022-05, with the labels that each got.

#271 fix ordering bug in spack spec for ascicgpu tests
  env-templates/exawind_ascicgpu_tests.yaml
Labels: bug, testing-workflow

#272 Refactor extra-name creation and clean up duplication
  env-templates/exawind_ascic_tests.yaml
  env-templates/exawind_ascicgpu_tests.yaml
  repos/exawind/packages/nalu-wind-nightly/package.py
Labels: enhancement, testing-workflow

#274 E4S container improvements
  scripts/create-exawind-snapshot.sh
  scripts/snapshot_creator.py
Labels: deployment-workflow, wip-dont-merge

#279 Add framework for testing nalu-wind-nightly package
  .gitignore
  spack-scripting/tests/conftest.py
  spack-scripting/tests/test_nalu_wind_nightly.py
Labels: testing-workflow

#282 Fix extra_name in nalu-wind-nightly for SNL tests
  repos/exawind/packages/nalu-wind-nightly/package.py
  spack-scripting/tests/test_nalu_wind_nightly.py
Labels: bug, testing-workflow

#284 change to whitelisting only the variants we want to see
  repos/exawind/packages/nalu-wind-nightly/package.py
  spack-scripting/tests/test_nalu_wind_nightly.py
Labels: bug, testing-workflow
