Repository sandialabs/spack-manager, pull requests merged in 2022-03, with the labels that each got.

#221 More documentation
  docs/general/FAQ.md
  docs/user_profiles/developers/developer_workflow.md
Labels: documentation

#223 ascicgpu test config updates
  env-templates/exawind_ascicgpu_tests.yaml
Labels: enhancement, testing-workflow

#224 Find machine bug
  spack-scripting/scripting/cmd/manager_cmds/find_machine.py
  spack-scripting/tests/test_find_machine.py
Labels: bug

#229 Fix ascicgpu nvcc-wrapper bug with externals
  repos/exawind/packages/nalu-wind/package.py
Labels: bug, developer-workflow

#232 Add full-repo option
  spack-scripting/scripting/cmd/manager_cmds/develop.py
  spack-scripting/tests/test_develop.py
Labels: enhancement, developer-workflow

#236 Strip dev_path from externals specs
  spack-scripting/scripting/cmd/manager_cmds/external.py
  spack-scripting/tests/test_external.py
Labels: enhancement, developer-workflow

#241 Further work on externals and snapshots
  spack-scripting/scripting/cmd/manager_cmds/external.py
Labels: bug

#253 Added the SNL 'ascic' platform
  configs/ascic/compilers.yaml
  configs/ascic/config.yaml
  configs/ascic/packages.yaml
  env-templates/exawind_ascic_tests.yaml
  scripts/run-exawind-nightly-tests.sh
  scripts/supported_external_paths.py
  spack-scripting/scripting/cmd/manager_cmds/find_machine.py
Labels: enhancement, testing-workflow

#254 fix bug in ascic line in find_machine
  spack-scripting/scripting/cmd/manager_cmds/find_machine.py
Labels: bug

#255 add keep-stage to the nightly install command
  scripts/run-exawind-nightly-tests.sh
  spack-scripting/scripting/cmd/manager_cmds/find_machine.py
Labels: testing-workflow
