Repository sandialabs/spack-manager, pull requests merged in 2022-11, with the labels that each got.

#391 OpenFAST conditionally remove patch
  repos/exawind/packages/openfast/package.py
Labels: bug, developer-workflow, deployment-workflow

#396 Fix type issue causing version comparisons
  repos/exawind/packages/nalu-wind/package.py
Labels: bug, developer-workflow

#398 ASAN updates for leak in libc on ascic platform
  repos/exawind/packages/amr-wind/sup.asan
  repos/exawind/packages/exawind/sup.asan
  repos/exawind/packages/nalu-wind/sup.asan
Labels: bug, testing-workflow

#395 External Cmd: Omit uninstalled packages
  spack-scripting/scripting/cmd/manager_cmds/external.py
Labels: bug

#385 changes to nalu-wind package to get building on Crusher
  repos/exawind/packages/nalu-wind/package.py
Labels: developer-workflow

#404 changes to get Trilinos building on crusher
  repos/exawind/packages/trilinos/package.py
Labels: developer-workflow

#413 Consolidate and rename SNL configs
  configs/ascic/compilers.yaml
  configs/ascic/config.yaml
  configs/ascic/packages.yaml
  configs/ascic/upstreams.yaml
  configs/ascicgpu/compilers.yaml
  configs/ascicgpu/config.yaml
  configs/ascicgpu/packages.yaml
  configs/ascicgpu/upstreams.yaml
  docs/user_profiles/analysts/analysts.md
  repos/exawind/packages/nalu-wind-nightly/package.py
  repos/exawind/packages/nalu-wind/sup.asan
  scripts/run-exawind-nightly-tests.sh
  scripts/snapshot_creator.py
  scripts/spack_start.sh
  scripts/supported_external_paths.py
  spack-scripting/scripting/cmd/manager_cmds/find_machine.py
Labels: documentation, developer-workflow, testing-workflow, deployment-workflow

#419 Add one template for CEE tests
  env-templates/exawind_ascic_tests.yaml
  env-templates/exawind_ascicgpu_tests.yaml
  env-templates/exawind_cee_tests.yaml
Labels: testing-workflow

#436 Turn off shared libs for nalu-wind when using cuda
  repos/exawind/packages/nalu-wind/package.py
Labels: bug

#446 Update links for new ownership
  CONTRIBUTING.md
  README.md
  docs/index.rst
  docs/user_profiles/developers/developer_spack_minimum.md
  docs/user_profiles/developers/developer_workflow.md
  docs/user_profiles/developers/snapshot_workflow.md
  docs/user_profiles/developers/useful_commands.md
Labels: documentation

#448 Patch Trilinos for ROCM builds
  repos/exawind/packages/trilinos/package.py
  repos/exawind/packages/trilinos/rocm_seacas.patch
Labels: developer-workflow

#450 update SNL nightly testing to our own gcc@10.3.0
  env-templates/exawind_cee_tests.yaml
Labels: testing-workflow
