Repository sandialabs/spack-manager, pull requests merged in 2022-06, with the labels that each got.

#296 Fix spaces in spec issue
  .github/workflows/tests.yml
  spack-scripting/scripting/cmd/manager_cmds/create_env.py
  spack-scripting/tests/test_create_env.py
Labels: bug

#302 Keep testing trilinos@develop at SNL, even though it is no longer default
  env-templates/exawind_ascic_tests.yaml
  env-templates/exawind_ascicgpu_tests.yaml
Labels: testing-workflow

#304 Allow the gold files generated in nightly testing to be placed in an arbitrary directory
  repos/exawind/packages/amr-wind/package.py
  repos/exawind/packages/nalu-wind/package.py
  scripts/run-exawind-nightly-tests.sh
Labels: testing-workflow

#307 Added spack cd to a documentation example
  docs/user_profiles/developers/developer_workflow.md
Labels: documentation

#308 Stop relying on defaults in SNL nightly specs
  env-templates/exawind_ascic_tests.yaml
  env-templates/exawind_ascicgpu_tests.yaml
Labels: testing-workflow

#306 Skip already externals in external cmd
  spack-scripting/scripting/cmd/manager_cmds/external.py
Labels: bug
