Repository sandialabs/spack-manager, pull requests merged in 2022-07, with the labels that each got.

#311 don't do parallel ctest for ascicgpu tests
  repos/exawind/packages/nalu-wind-nightly/package.py
Labels: bug, testing-workflow

#312 install nightly testing packages in serial
  scripts/run-exawind-nightly-tests.sh
Labels: bug, testing-workflow

#313 Bug: ensure unify:true
  spack-scripting/scripting/cmd/manager_cmds/create_env.py
  spack-scripting/tests/test_create_env.py
Labels: bug

#319 Add a clean function for spack-manager
  docs/general/FAQ.md
  start.sh
Labels: documentation, enhancement, developer-workflow, deployment-workflow
