Repository sandialabs/spack-manager, pull requests merged in 2023-02, with the labels that each got.

#497 Only copy compile_commands.json if it exists
  spack-scripting/scripting/smpackages.py
Labels: bug

#499 Change preference ordering for mpi on CEE
  configs/cee/packages.yaml
Labels: config-bug

#502 make nalu-wind an SSH clone by default when setup through create-dev-env
  spack-scripting/scripting/cmd/manager_cmds/create_dev_env.py
  spack-scripting/tests/test_create_dev_env.py
Labels: enhancement, developer-workflow
